aws_region   = "ap-south-1"
project_name = "strapi"
environment  = "prod"

vpc_cidr             = "10.0.0.0/16"
availability_zone    = "ap-south-1a"
public_subnet_cidr   = "10.0.1.0/24"
private_subnet_cidr  = "10.0.10.0/24"

db_instance_class        = "db.t3.micro"
db_name                  = "strapidb"
db_username              = "strapi"
db_allocated_storage     = 20
db_max_allocated_storage = 100

ecs_cpu           = 256
ecs_memory        = 512
ecs_desired_count = 1
container_port    = 1337

s3_bucket_name = "your-unique-bucket-name"
